:root{
    --white: #FFFFFF;
    --dark-blue: #1E0E62;
    --light-light-grey:#EBEAED;
    --light-grey: #F1F1F1;
    --Aqua: #25DAC5;
    --golden-yellow: #FFCA33;
    --color-P: rgba(21, 20, 57, 0.4);
    --font-template:'DM Sans', sans-serif;
 
}
*{
    margin: 0;
    padding: 0;
    font-family: var(--font-template);
}
html {
    font-size: 62.5%;
    background-color: var(--light-grey);
    width: 100%;

}
/* Header Styles */
.head-container {
    background-color: var(--white);
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    position: relative;
    top: 0;
    width: 100%;
    height: 10rem;
}
.head-left{
    font-size: 2.4rem;
}
.head-left li  {
    list-style: none;
}
.head-left li a {
    text-decoration: none;
    position: relative;
    left: 4rem;
    color: var(--dark-blue);
    font-weight: 700;

}
.head-rigth{
    display: flex;
    justify-content: flex-end;
    font-size: 1.6rem;
}
.head-rigth button {
    width: 10rem;
    height: 4rem;
    border-radius: 100px;
    background-color: var(--golden-yellow);
    border: none;
    position: relative;
    right: 10rem;

}
.head-rigth button a {
    text-decoration: none;
    font-size: 1.6rem;
    color: var(--dark-blue);
}
/* Main hi secction */
.hi {
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
    position: relative;
    margin-top: 4rem;
}

.hi .hi-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.hi .hi-left .hi-title {
    font-size: 4.3rem;
    font-weight: 700;
    width: 42.2rem;
    color: var(--dark-blue);
}
.hi .hi-left p {
    width: 40rem;
    font-size: 2.2rem;
    font-weight: 400;
    color: var(--color-P);
    margin-top: 4rem;
}
.hi .hi-right img {
    width: 57rem;
    height: 45.1rem;
    border-radius: 10px;
}
/* Style to Skills */

.skills {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.skills h2 {
    font-size: 4.2rem;
    margin-top: 10rem;
    color: var(--dark-blue);
    font-weight: 700;
}
.skills .skills-description {
    font-size: 2.2rem;
    width: 79.3rem;
    margin-top: 4rem;
    color: var(--color-P);
    text-align: center;
}
.skills .skills-tecnology-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 97.3rem;
    column-gap: 10rem;
    margin-top: 8rem;
    text-align: center;
}
.skills .skills-tecnology-title {
    font-size: 1.8rem;
    color: var(--dark-blue);
    font-weight: 500;
}
.skills .skills-tecnology-container p:nth-child(2) {
    font-size: 1.6rem;
    font-weight: 400;
    margin-top: 2rem;
    color: var(--color-P);
}

/* Style to Experience */

.experience {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 14rem;
    padding-top: 10rem;
    padding-bottom: 15rem;
    background-color: var(--white);
    
}

.experience h2 {
    font-size: 4.2rem;
    font-weight: 700;
    color: var(--dark-blue);
}

.experience p:nth-child(2) {
    width: 75.8rem;
    font-size: 2.2rem;
    margin-top: 4rem;
    color: var(--color-P);
    text-align: center;
}
.experience button {
    width: 20rem;
    height: 5rem;
    border-radius: 100px;
    border: none;
    margin-top: 8rem;
    background-color: var(--golden-yellow);
    cursor: pointer;

}
.experience button a {
    font-size: 1.8rem;
    text-decoration: none;
    font-weight: 500;
    color: var(--white);
}

/* style experience grid */

.experience .div-grid  {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-content: center;
    margin-top: 10rem;
    gap: 7rem 3rem;
}
.experience img:nth-child(1){
    width: 37rem;
    height: 24rem;
    border-radius: 10px;
    cursor: pointer;
}
.experience   h3:nth-child(2){
    font-size: 2.2rem;
    font-weight: 500;
    color: var(--dark-blue);
    margin-top: 2rem;
    
}
.experience p:nth-child(3){
    font-size: 1.6rem;
    color: var(--color-P);
    width: 36.7rem;
    margin-top: 1rem;
}

/* style to footer */

.footer {
    position: relative;
    bottom: 0;
    height: 71.5rem;
}
.footer .footer-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}
.footer .footer-container h2 {
    font-size: 5.8rem;
    color: var(--dark-blue);
}
.footer .footer-container .footer-container-email{
    font-size: 5rem;
    color: var(--golden-yellow);
}

/* Style to icon */
.footer-container .list-icons {
    display: flex;
}

.footer-container ul:nth-child(4) {
    margin: 6.5rem 0rem;
    gap: 9rem;
}
.list-icons li {
    list-style: none;
}
.list-icons li a img {
    width: 2.1rem;
}